{% extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <h1>Products</h1>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h2>
            <div class="row">
                {% for product in products %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="{{product.name}}">Card title</h5>
                          <p class="card-text">£{{ product.price }}</p>
                          <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                      </div>
                {% endfor %}
                </div>
            </div>
    </body>
    </html>

{% endblock %}
