.website-container {
  display: flex;
  flex-direction: column;
  max-width: 2000px;
  justify-content: center;
  align-items: center;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  opacity: 0.9;
  color: white;
  font-weight: bold;
  background-color: black;
}
.navbar-toggler {
  background-color: white;
}

.footer-header {
  padding: 2rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}
.footer-header a {
  font-size: 1.4rem;
}
.background {
  background: rgba(0, 0, 0, 0.9);
}
.background-footer {
  text-align: center;
}
.grid-contact {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
  color: white;
  z-index: -1;
  font-weight: bold;
}
.grid-contact ul {
  list-style: none;
}
.grid h3 {
  color: white;
}
p,
li {
  font-size: 1.2rem;
}
.box {
  vertical-align: middle;
}
.box a {
  color: white;
}
.to-top {
  text-decoration: none;
  font-size: 1.5rem;
  margin: 1rem;
  color: white;
}
.to-top::before {
  content: "^";
  display: block;
}
.to-top:hover::before {
  transform: translate(0, -10px);
  transition-duration: 0.3s;
}
.to-top:hover {
  color: rgb(3, 138, 255);
}
@media screen and (max-width: 990px) {
  .grid-contact {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .navbar {
    width: 100vw;
  }
}
