body {
  background: url(../Images/overhead_squat.jpg);
  background-size: cover;
  color: white;
}

.page_wrapper {
  content: "";
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* This sets a semi-transparent black background */
  position: relative;
  width: 100%;
  z-index: 1; /* Puts the pseudo-element behind the content */
}

.contact_us_text {
  padding-top: 5rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.form_container {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

form {
  width: 800px;
}

.background {
  background: rgba(0, 0, 0, 0.5);
}
.background_footer {
  background: none;
  text-align: center;
}