body {
  /* background-image: url("../Images/background_blue.jpg"); */
  /* background-color: black;
  background-size: cover;
  background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section{
  padding: 6rem;
}
/* .main {
  max-width: 1200px;
  border: 4rem;
  padding-top: 6rem;
} */

.hero-image {
  position: relative;
}

.hero-image-homepage {
  width: 100%;
}

.hero-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  overflow: disabled;
  font-size: 1.5rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}

.hero-text h1{
  font-size: 4.5rem;
  color: white;
  font-weight: 400;
}

.hero-text p{
  font-size: 3rem;
}

.hero-text .btn{
  font-size: 1rem;
  font-weight: bold;
  padding:0.5rem 1rem;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  white-space: nowrap;
  background-color: rgba(77, 77, 77, 0.8);
}

.btn{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border:0;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  background-color:navy;
}

.btn:hover{
  background-color: brown;
  transform: scale(1.1, 1.1);
}

.btn-dark:hover{
  background-color: black;
  transform: scale(1.1, 1.1);
}

.card_section{
  background-color: whitesmoke;
  padding: 6rem;
  margin: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  max-width: 1500px;
}

.card-body{
 text-align: center;
}

.card{
  border-radius: 30px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.8)
}

.card:hover{
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.card img{
  width: 17rem;
  padding: 15px;
}

.card p{
  font-size: 1rem;
}

.qualifications{
  background: url(../Images/background_picture2_edited.jpg);
  background-size: cover;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qualifications h2{
  font-size: 3rem;
  text-align: center;
}
.qualifications .box{
  margin-left: 3rem;
}
/* .homepage_information {
  text-align: center;
} */

.grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin-bottom: 6rem;
  /* justify-items: center;
  justify-content: center; */
}

.table_image {
  max-width: 100%;
}

.box{
  max-width: 1200px;
  color: white;
}

ul {
  list-style: none;
}
.newcomer_message{
  max-width: 1000px;
}

.my_commitment{
  max-width: 1000px;
}
@media screen and (max-width: 1024px) {

}
