body {
  background: url(../Images/deadlift.jpg);
  background-color: black;
  background-size: 2000px;
  /* background-size: 100vw; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
section {
  width: 1200px;
  display: inline;
  padding: 2rem;
}

.background_cover {
  background-color: rgba(0, 0, 0, 0.6);
}

.training_plan_grid {
  display: grid;
  max-width: 1205px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 5px;
  margin: 5rem auto;
}
.training_plan_grid img {
  max-width: 300px;
  max-height: 200px;
}
.training_plan_grid .box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.box_strength:hover .overlay,
.box_hypertrophy:hover .overlay,
.box_weight_loss:hover .overlay,
.box_powerbuilding:hover .overlay,
.box_endurance:hover .overlay,
.box_personal_training:hover .overlay,
.box_athletic_performance:hover .overlay,
.box_power:hover .overlay {
  opacity: 1;
}

h1 {
  text-align: center;
  margin: 2rem;
  margin-top: 5rem;
  color: white;
}
.header_text h2 {
  text-align: center;
}
header {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  height: fit-content;
}
.text_white {
  color: white;
}
/* training_plan_section_dark {
  padding: 2 rem; 
} */
.section_dark {
  background-color: rgba(0, 0, 128, 0.7);
  clip-path: polygon(0 0, 31% 4%, 100% 0, 100% 100%, 76% 97%, 0 100%);
  padding: 8rem;
}
.grid {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: 0 auto;
}
.table_image {
  max-width: 100%;
}
.box {
  text-align: center;
}

.light_section {
  padding: 8rem;
}
.training_plan_list {
  font-size: 1rem;
  text-align: left;
  color: white;
}
.coming_soon {
  padding: 6rem;
  display: flex;
  justify-content: center;
}
.coming_soon_box {
  width: 1200px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 1250px) {
  .training_plan_grid {
    max-width: 602px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media screen and (max-width: 600px) {
  .training_plan_grid {
    max-width: 302px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
