{% extends "base.html" %}{%block content%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/about.css" />
    <title>About me</title>
  </head>
  <body>
    <div class="header_container">
      <img
        class="header_image"
        src="../static/Images/deadlift_bar.jpg"
        alt="A deadlift"
      />
      <div class="header_text">
        <h1>About me</h1>
      </div>
      <button class="header_consultation_button">Book your consultation today</button>
    </div>
    <section>
          <div class="grid">
            <div class="box" data-AOS="fade-right">
              <h1>Why choose me?</h1>
              <p>
                What separates me from other Personal Trainers? I am the most qualified
                personal trainer in the area. With my bachelor’s degree in Sports
                Science, level 4 in strength and conditioning and level 3 in
                personal training and my other numerous qualifications, there is
                no competition. And even more importantly, I am still building
                upon my knowledge and skills in order to provide you with the best
                service. In my experience personal training, I have worked with
                clients of all shapes sizes and skill levels. Some of my clients
                were obese, some were anorexic, some worked in the military, some
                were elite, world class athletes, some were bodybuilders and some
                spent too much time behind a desk and just wanted some exercise.
                Whatever your goals, I can help you achieve them.
              </p>
            </div>
            <div class="box" data-AOS="fade-left">
              <img
                class="table_image"
                src="../static/Images/deadlift_bar.jpg"
                alt="a deadlift"
              />
            </div>
          </div>
    </section>
    <section class="section_services" data-AOS="fade-up">
        <div class = "services">
          <h2>Services</h2>
          <ul>
            <li>Free, no obligation 30 minute consultation</li>
            <li>One to one personal training sessions</li>
            <li>
              Professional, personalised training plans, supported by science
            </li>
            <li>Online personal training subscription service with benefits</li>
            <li>Strength and conditioning group sessions for sports teams</li>
          </ul>
          <br>
          <a href="#">Click here for your first free consultation</a>
        </div>
    </section>
    <section>
        <div class="grid">
          <div class="box" data-AOS="fade-right">
            <h2>Personal Training</h2>
            <h2>My experience and qualifications</h2>
            <ul>
              <li>University degree in sports science (BSC)</li>
              <li>Level 4 in strength and conditioning</li>
              <li>Level 3 in Personal training</li>
              <li>Level 2 in Gym instructing</li>
              <li>Sports nutrition diploma</li>
              <li>A decade of industry expperience with a variety of skill levels</li>
              <li>Experienced with elite athletes and lifters</li>
              <li>Experienced with begginners</li>
              <li>Experienced with injury rehabilitation</li>
            </ul>
          </div>
          <div class="box" data-AOS="fade-left">
            <img
              class="table_image"
              src="../static/Images/deadlift_bar.jpg"
              alt="a deadlift"
            />
          </div>
        </div>
    </section>
    <section class="section_121" data-AOS="fade-up">
      <div class="container">
          <h2> What my one to one service provides</h2>
          <p>I provide structured training plans supported by science, that
          are tailored to your goals The benefits of training with me, are
          insights into:
          </p>
          <ul>
          <li>Injury prevention</li>
          <li>Conditioning</li>
          <li>Prehab</li>
          <li>Strength</li>
          <li>Hypertrophy (increased muscle mass and size)</li>
          <li>Biomechanics of movement</li>
          <li>Performance analysis</li>
          <li>Core stability</li>
          <li>Technique correction</li>
          <li>Meal plans and dietary advice</li>
          <ul>
          <br>
          <p>My training plans are structured and designed to incorporate all of these factors</p>
      </div>
    </section>
  </body>
</html>
{% endblock %}
