{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form Sent</title>
    <style>
      .form-success-message {
        margin-top: 200px;
        margin-bottom: 200px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="form-success-message">
      <h1>Form Sent Successfully</h1>
      <h2>thank you for submitting</h2>
    </div>
  </body>
</html>
{% endblock %}
