{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/training_plans.css"/>
    <title>ThePTMaster Training Plans</title>
  </head>
  <body>
    <header>
      <h1>Personal Training Plans</h1>
    </header>
    <section class="DUP_background" data-AOS="fade-up">
      <div class="section_dark">
        <div class="grid grid_dark">
          <div class="box text_white" data-AOS="fade-right">
            <h2>Daily Undulating Periodisation (DUP)</h2>
            <h3>6-week training plan</h3>
            <h3>beginner level</h3>
            <p>
              Perfect for anyone looking to move into powerlifting!
              <br>
              <br>
              The recommended training age for this programme is 2 years of weight lifting in the gym.
              <br>
              <br>
              6/10 difficulty 
              <br>
              <br>
              <h3>Summary<h3>
              <p>
                <ul class="DUP_list">
                  <li>6 week long programme</li>
                  <li>High frequency training</li>
                  <li>3x a week on every exercise and muscle group</li>
                  <li>All compound exercises (Squats, deadlifts, squats, pull ups/lat pulldowns)</li>
                  <li>No workout is pushed to the limit</li>
                  <li>Ranked at a 6 out of 10 on the difficulty scale</li>
                  <li>Designed for improving strength and size</li>
                  <li>Primary benefit is strength</li>
                </ul>
              </p>
          </div>
          <div class="card" "box" style="width: 18rem" data-AOS="fade-left">
            <img
              src="../static/Images/deadlift_bar.jpg"
              class="card_image_strength_programme"
              alt="a picture of a deadlift"
            />
            <div class="card-body">
              <h5 class="card-title">Strength Programmes</h5>
              <p class="card-text">
                Click below if you want to find a programme to give you quick and
                persistent strength progress.
              </p>
              <a href="#" class="btn btn-primary">Click Here</a>
            </div>
          </div>
          {% comment %} <div class="box">
            <img
              class="table_image"
              src="../static/Images/deadlift_bar.jpg"
              alt="a deadlift"
            />
          </div> {% endcomment %}
        </div>
      </div>
    </section>
    <section>
      <div class="grid">
        <div class="box" data-AOS="fade-right">
          <h2>Daily Undulating Periodisation (DUP)</h2>
          <h3>12-week training plan</h3>
          <h3>intermediate level</h3>
          <p>
            Perfect for anyone into powerlifting!
            <br>
            <br>
            The recommended training age for this programme is 2 years of weight lifting in the gym.
            <br>
            <br>
            6/10 difficulty 
            <br>
          </p>
        </div>
        <div class="box" data-AOS="fade-left">
          <img
            class="table_image"
            src="../static/Images/deadlift_bar.jpg"
            alt="a deadlift"
          />
        </div>
      </div>
    </section>
    <section class="coming_soon">
      <div class="coming_soon_box">
        <h2>More coming soon</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </section>
  </body>
</html>
{% endblock %}
